* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Oswald', sans-serif;
    background-color: rgb(0, 0, 0)
}

nav {
    position: fixed;
    top: 20px;
    left: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    animation: moverizq 1s ease-in;
}

header {
    background: #000000;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #434343, #000000);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #434343, #000000);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: auto;
    padding: 48px;
    width: 100%;
}

.contain {
    width: 95%;
    max-width: 2100px;
    display: flex;
    align-items: center;
    margin: auto;
    margin-bottom: 200px;
}

.textos {
    color: #fff;
    width: 50%;
    display: inline-block;
}

.textos h1 {
    font-size: 80px;
    animation: moverder 1.25s ease-in;
}

.textos h2 {
    font-size: 40px;
    animation: moverizq 1s ease-in;
}

.textos a {
    display: inline-block;
    color: #fff;
    font-weight: 300;
    text-decoration: none;
    margin-top: 30px;
    border: 1px solid #fff;
    border-radius: 3px;
    text-align: center;
    padding: 10px 20px 10px 20px;
    animation: moverder 1.25s ease-in;
}

.img1 {
    display: block;
    height: 450px;
    object-fit: cover;
    justify-content: space-around;
    width: 20%;
    animation: moverarriba 1s ease-in;
}

.wave {
    background: #000000;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #434343, #000000);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #434343, #000000);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 100px;
    width: 100%;
}

@keyframes moverizq {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moverder {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moverarriba {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}